<h3>HEBILLAS</h3>
<div class="jumbotron text-center col-md-12">
    <div class="container">
     	<div class="text-left">
     		<h2>Hebillas para pulseras</h2>
			<p>
				Disponemos de distintos tipos de cierres para pulseras y brazaletes, tanto en plástico como en metal, así como tiras ajustables de Velcro.
			</p>
			<img ng-src="images/buckles.jpg" width="700" height="525" />
			<ol>
			    <li>Hebillas de plástico de distintos colores, para pulseras anchas.</li>
			    <li>Hebillas de plástico con silbato de emergencia, para pulseras anchas de supervivencia, en color negro o combinado con naranja.</li>
			    <li>Hebillas de plástico para pulseras estándar, de varios colores.</li>
			    <li>Hebillas de plástico de color negro de tamaños grande, medio y normal.</li>
			    <li>Cierres de cinta de Velcro ajustables.</li>
			    <li>Hebillas metálicas color plateado y gun metal, de tipo cierre y también mosquetón.</li>
			</ol>
			<p>
				Cada pulsera y la utilidad que se le quiera dar requiere una hebilla distinta. Para uso diario, intensivo y humedad, se recomiendan las de plástico. Las hebillas metálicas hay que dejarlas para un uso moderado y no mojarlas. Las metálicas de tipo mosquetón son para un uso más deportivo.
			</p>
			<p>
				Si quieres regalar una pulsera y no sabes la medida exacta de la persona a quien va dirigida, la opción lógica es el cierre de Velcro, que da un margen de ajuste de entre 1 y 3 cm apróximadamente a partir de la talla elegida.
			</p>
     	</div>
    </div>
</div>