<div class="container col-md-12">
    <div class="col-md-4">
        <h3>TIENDA</h3>
    </div>
</div>
<div class="jumbotron text-center col-md-12">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img ng-src="{{detail.product.images[0]}}" width="300" height="300" />
            </div>
            <div class="col-md-6">
                <p>{{detail.product.name}}</p>
                <p>{{detail.product.price}}</p>
                <p>Código: {{detail.product.code}}</p>
                <p>Categoría: {{detail.product.category}}</p>
                <p>Etiquetas: <span ng-repeat="tag in detail.product.tags">{{tag}}, </span></p>
            </div>
        </div>

        <!-- Tabs Go Here -->
        <div clas="row">
            <section>
                <ul class="nav nav-pills">
                    <li ng-class="{ active:detail.isSet(1) }">
                        <a href ng-click="detail.setTab(1)">DESCRIPCIÓN</a>
                    </li>
                    <li ng-class="{ active:detail.isSet(2) }">
                        <a href ng-click="detail.setTab(2)">INFORMACIÓN ADICIONAL</a>
                    </li>
                </ul>

                <div class="panel" ng-show="detail.isSet(1)">
                    <ul>
                        <li>{{detail.product.information[0].description}}</li>
                        <li>{{detail.product.information[0].colours}}</li>
                        <li>{{detail.product.information[0].reversible}}</li>
                        <li>{{detail.product.information[0].buckle}}</li>
                        <li>{{detail.product.information[0].material}}</li>
                        <li>{{detail.product.information[0].flexibility}}</li>
                    </ul>
                </div>
                <div class="panel" ng-show="detail.isSet(2)">
                    <p>{{detail.product.additionalInfo}}</p>
                </div>
            </section>
        </div>
    </div>
</div>
