<div class="container col-md-12">
    <div class="col-md-4">
        <h3>TIENDA</h3>
    </div>
    <div class="col-md-4">
        <input type="text" ng-model="searchText.name" class="form-control" placeholder="Filtra tu búsqueda"></input>
    </div>
    <div class="col-md-4">
        <select ng-model="orderType" class="form-control">
            <option value="">Orden por defecto</option>
            <option value="price">Precio Ascendente</option>
            <option value="-price">Precio Descendente</option>
        </select>
    </div>
</div>
<div class="jumbotron text-center col-md-12">
    <div class="container">
        <div ng-repeat="product in shop.products|filter:searchText|orderBy:orderType">
            <div class="col-md-3">
                <a href="#/shop/detail/{{product.code}}">
                    <img ng-src="{{product.images[0]}}" width="166" height="192" />
                    <p>{{product.name}}</p>
                    <p>{{product.price}}</p>
                </a>
            </div>
        </div>
    </div>
</div>