<div class="jumbotron text-center">
    <h1>Tienda</h1>
    <div ng-repeat="product in shop.products">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img ng-src="{{product.images[0]}}" width="300" height="300" />
                </div>
                <div class="col-md-6">
                    <p>{{product.name}}</p>
                    <p>{{product.price}}</p>
                    <p>Código: {{product.code}}</p>
                    <p>Categoría: {{product.category}}</p>
                    <p>Etiquetas: <span ng-repeat="tag in product.tags">{{tag}}, </span></p>
                </div>
            </div>

            <!-- Tabs Go Here -->
            <div clas="row">
                <section>
                    <ul class="nav nav-pills">
                        <li ng-class="{ active:shop.isSet(1) }">
                            <a href ng-click="shop.setTab(1)">DESCRIPCIÓN</a>
                        </li>
                        <li ng-class="{ active:shop.isSet(2) }">
                            <a href ng-click="shop.setTab(2)">INFORMACIÓN ADICIONAL</a>
                        </li>
                    </ul>

                    <div class="panel" ng-show="shop.isSet(1)">
                        <ul>
                            <li>{{product.information[0].description}}</li>
                            <li>{{product.information[0].colours}}</li>
                            <li>{{product.information[0].reversible}}</li>
                            <li>{{product.information[0].buckle}}</li>
                            <li>{{product.information[0].material}}</li>
                            <li>{{product.information[0].flexibility}}</li>
                        </ul>
                    </div>
                    <div class="panel" ng-show="shop.isSet(2)">
                        <p>{{product.additionalInfo}}</p>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
