<h3>TALLAS</h3>
<div class="jumbotron text-center col-md-12">
    <div class="container">
     	<img ng-src="images/size.gif" width="800" height="400" />
     	<div class="text-left">
     		<h2>La medida justa</h2>
			<p>
				Para saber qué medida debes pedir (S, M, L, XL, etc) ten como referencia la tabla anterior. Toma la medida de tu muñeca tal como se indica, con una cinta métrica o cualquier otra cinta que luego deberás medir. No aprietes tanto como para cortar la circulación… ni tampoco añadas nada. Según la medida consulta la tabla para indicar qué talla tienes. Si la medida no coincide indicanos la más cercana superior. Por ejemplo, si tu muñeca mide 18cm te corresponde la talla M. Estas medidas no son las de los brazaletes. Cuando se elaboran se añade un margen según el tipo de pulsera y el cierre usado para que sea cómoda de llevar.
			</p>
			<p>
				Una vez recibes la pulsera, si te va grande puedes ponerla en remojo y luego dejarla secar un par de días. Encogerá un poco, algo menos de 1cm.
			</p>
     	</div>
    </div>
</div>