<h3>CUSTOM</h3>
<div class="jumbotron text-center col-md-12">
    <div class="container">
     	<img ng-src="images/custom.jpg" width="auto" height="700" />
     	<div class="text-left">
     		<h2>Proyectos custom, ¡claro que sí!</h2>
			<p>
				Al margen de la gama de productos estándar que se ofrecen en el catálogo de la tienda, también abordamos proyectos personalizados. De hecho son la parte más interesante de esta iniciativa. Brazaletes, llaveros, lanyards y otras cosas son bastante comunes, y sólo la personalización las distingue de otras. Pero más allá están los proyectos personalizados, como pueden ser:
			</p>
			<ul>
			    <li>Correas, arneses y collares para mascotas</li>
			    <li>Correas para cámaras fotográficas, prismáticos y otros objetos que pueden llevarse al cuello o en bandolera</li>
			    <li>Forros para mangos de herramientas, cuchillos, bastones de marcha, etc. para mejorar su agarre</li>
			    <li>Pulseras de supervivencia con sistema de recuperación rápida del cordaje</li>
			    <li>Recambios para cordones de zapatos, botas, deportivas y otros calzados</li>
			    <li>Cintas para retención de cortinas</li>
			    <li>Correas de recambio para mochilas y petates</li>
			    <li>Lanyards de seguridad para planchas de surf, herramientas, navajas de bolsillo, etc.</li>
			    <li>Cintas para sombrero</li>
			    <li>Cinturones</li>
			</ul>
			<p>
				Y un sinfín más de ideas que podemos realizar. Danos a conocer tu idea y tu necesidad, la estudiaremos y haremos un presupuesto a medida según la complejidad, el material necesario y el tiempo de ejecución.
			</p>
     	</div>
    </div>
</div>