<div class="container">
    <div class="col-mod-9 col-offset-1">
        <div id="footer-widgets" class="col-md-12">
            <div class="col-md-2">
                <h4>EN FACEBOOK</h4>
                <a href="https://www.facebook.com/groups/paracordistry/"><img ng-src="images/facebook-widget.jpg" width="150" height="200" /></a>
            </div>
            <div class="col-md-2">
                <h4>EN INSTAGRAM</h4>
                <a href="https://instagram.com/paracordistry/"><img ng-src="images/twitter-widget.jpg" width="150" height="200" /></a>
            </div>
            <div class="col-md-2">
                <h4>EN FLIPBOARD</h4>
                <a href="https://flipboard.com/@joanfuste/knots-0j6k1hq8y"><img ng-src="images/flipboard-widget.jpg" width="150" height="200" /></a>
            </div>
            <div class="col-md-2">
                <h4>EN PINTEREST</h4>
                <a href="https://www.pinterest.com/jfuste/paracord/"><img ng-src="images/pinterest-widget.jpg" width="150" height="200" /></a>
            </div>
            <div class="col-md-2">
                <h4>EN TWITTER</h4>
                <a href="https://twitter.com/jfuste/"><img ng-src="images/twitter-widget.jpg" width="150" height="200" /></a>
            </div>
            <div class="col-md-2">
                <h4>CONTACTO</h4>
                <a href="mailto:paracordistry@gmail.com">Email</a>
            </div>
        </div>
        
        <div id="bootom-footer" class="col-md-11">
            <div class="text-left">
                <p>
                    Todos los productos ofrecidos en Paracordistry son personalizados, tanto en color como en tamaño. Antes de realizar un pedido consulta las posibilidades disponibles.
                </p>
            </div>
        </div>

        <div id="footer" class="col-md-12">
            <div class="col-md-4">
                © 2015 Joan Fusté
            </div>
            <div class="col-md-7">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <ul class="nav navbar-nav">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-394" id="menu-item-394">
                                <a href="http://www.paracordistry.com/blog/">Blog</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-395" id="menu-item-395">
                                <a href="http://www.paracordistry.com/my-account/">Mi Cuenta</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-408" id="menu-item-408">
                                <a href="http://www.paracordistry.com/aviso-legal/">Aviso Legal</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-409" id="menu-item-409">
                                <a href="http://www.paracordistry.com/politica-de-privacidad/">Política de privacidad</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-413" id="menu-item-413">
                                <a href="http://www.paracordistry.com/politica-de-cookies/">Política de cookies</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>