<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="collapse navbar-collapse col-md-11 col-md-offset-1">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="#pulseras">PULSERAS</a></li>
                <li><a href="#llaveros">LLAVEROS</a></li>
                <li><a href="#lanyards">LANYARDS</a></li>
                <li><a href="#one-of-a-kind">ONE-OF-A-KIND</a></li>
                <li><a href="#custom">CUSTOM</a></li>
                <li><a href="#buckles">HEBILLAS</a></li>
                <li><a href="#colours">COLORES</a></li>
                <li><a href="#size">TALLAS</a></li>
                <li><a href="#tricks">TRICKS</a></li>
                <li><a href="#tools">TOOLS</a></li>
                <li><a href="#news">NEWS</a></li>
            </ul>
        </div>
    </div>
</nav>