<div class="jumbotron text-center col-md-12">
	<div class="container">
		<div>
			<h3>BUSCAR</h3>
			<form class="form-inline">
			 	<div class="form-group">
					<input type="text" class="form-control" id="buscar" placeholder="Buscar en la tienda">
					<button type="submit" class="btn btn-default glyphicon glyphicon-search"></button>
				</div>
			<form>
		</div>

		<div>
			<h3>ARCHIVOS</h3>
		</div>

		<div>
			<h3>META</h3>
			<ul>
				<li><a href="">Registrarse</a></li>
				<li><a href="">Acceder</a></li>
			</ul>
		</div>
	</div>
</div>	