<h2>El Desván</h2>
<div class="jumbotron text-left">
    <p>
        Más de uno se preguntará, ¿qué es <b>El Desván</b>? Los que ya me conocen puede que lo sepan, sin embargo muchos más no tendrán ni idea de que hablo.
        El Desván es mi centro de operaciones, mi lugar de trabajo, mi biblioteca y mi pequeño museo dedicado a las colecciones que voy manteniendo desde hace casi 30 años. En él hay un poco de todo, toda vez que el espacio reducido obliga a ser cada vez más metódico y dejar sólo lo que realmente sea necesario.
        En mi blog personal, <a href="http://www.joanfuste.com">http://www.joanfuste.com</a> encontrarás mucho más sobre este espacio y mis otras aficiones, como Bade Runner, las reglas de cálculo, las barajas de cartas, las placas de cava, las brújulas o un largo etcétera.
        Así pues, como nombro <b>El Desván</b> hablo de este pequeño espacio en el que la mente puede divagar libremente y fijarse en cualquier rincón del mismo para fijar la atención. Ya sea en una biografía de Onassis o en el último libro publicado de Philip K Dick.
        ¡Bienvenido al mundo de <b>El Desván</b>!
    </p>
</div>